#form-clientes {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#filtro-clientes,
#dni-form,
#nombreApellido-form,
#direccion-form,
#contacto-form,
#idCliente-form {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 10px;
}

#ingresarCliente-form,
#botmod-cliente {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}

#ingresarCliente-form {
  background-color: #28a745;
  border: none;
}

#ingresarCliente-form:hover {
  background-color: #218838;
}

#botmod-cliente {
  background-color: #ffc107;
  border: none;
}

#botmod-cliente:hover {
  background-color: #e0a800;
}