body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  height: 100%;
}

#form-ventas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

#header-ventas {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#filtro-clientes {
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: border 0.3s, box-shadow 0.3s;
}

#filtro-clientes:focus {
  border-color: #61dafb;
  box-shadow: 0 0 5px #61dafb;
}

#form-venta-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

#cliente-input, #dni-empleado-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#nueva-venta-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: none;
}

#nueva-venta-btn:hover {
  background-color: #218838;
}

#tabla-ventas-container {
  width: 100%;
  margin-top: 20px;
}

#tabla-ventas {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#tabla-ventas th, #tabla-ventas td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#tabla-ventas th {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#tabla-ventas th:hover {
  background-color: #357ab8;
}

#tabla-ventas tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabla-ventas tbody tr:hover {
  background-color: #f1f1f1;
}

button.detallebtn {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

button.detallebtn:hover {
  background-color: #0056b3;
}