/* Estilo general del cuerpo */
body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fa;
  color: #333;
}

/* Estilo general para los elementos de código */
code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Estilo general para el contenedor principal de la aplicación */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  body {
    background-color: #e9ecef;
  }
}
